{% extends "base.html" %}
{% block title %}Login | {{ settings['website_config']['name'] }}{% endblock %}
{% block content %}
<style>
    @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

</style>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<h1 style="text-align:center;">Login | {{ settings['website_config']['name'] }}</h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="card mt-4">
                <div class="card-header">
                    <a href="{{ url_for('log_in_out.login') }}">
                        <h4>Login with username</h4>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="mt-4 mb-4 center text-center">OR</h4>
                    <div class="mx-auto" style="width: 200px;">
                        <a class="mx-auto" href="{{ url_for('google_oauth.google_ouath') }}">
                            <img alt="Login with Google" class="mx-auto" src="static/images/google.png" width=200px>
                        </a>
                    </div>
                    <br>
                    <p style="text-align:center;">New Here? <a href="{{ url_for('register.register_user') }}">Click here</a> to register</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}