{% extends 'base.html' %}

{% block title %}Return Book | {{ settings['website_config']['name'] }}{% endblock %}

{% block content %}
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
          @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
      .alert-error {
      padding: 8px;
          color: #D8000C;
    background-color: #FFD2D2;
      }
      .alert-success {
            padding: 8px;
          color: #4F8A10;
    background-color: #DFF2BF;
      }
      .alert-info {
            padding: 8px;
    color: #00529B;
    background-color: #BDE5F8;
      }
      .main {
      padding: 15px;
      background-image: url("static/images/library.jpg");
      color: white;
      width: 1500px;
      text-align: center;
      }
      .arrival-heading strong{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}
.arrival-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.arrival-heading strong{
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
}
.arrival-heading p{
    color: #808080;
    margin: 10px;
    font-size: 0.9rem;
}
.product-container{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;
}
.product-img{
    width:200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}
.p-name{
    color: #727272;
}
.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}
.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: none;
    animation: fade 0.3s;

}
.add-cart:hover{
    background-color: #f76b6a;
    transition: all ease 0.2s;
}
.product-box:hover .add-cart{
    display: flex;
}
.new-arrival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





</style>
<div class="col-lg-8 col-md-10 mx-auto content">
    {% for message in get_flashed_messages(with_categories=True) %}
    {% if message[0] == "error" %}
    <div class="alert-error"><i class="fa fa-times-circle"></i> Error: {{ message[1] }}</div>
    <br>
    {% elif message[0] == "success" %}
    <div class="alert-success"><i class="fa fa-check"></i> Success: {{ message[1] }}</div>
    <br>
    {% elif message[0] == "info" %}
    <div class="alert-info"><i class="fa fa-info-circle"></i> Info: {{ message[1] }}</div>
    <br>
    {% endif %}
    {% endfor %}
</div>
<h1 style="text-align: center;">Return Book | {{ settings['website_config']['name'] }}</h1>
<section class="new-arrival">
    <div class="product-container">
        {% if number_results != 0: %}
        {% for row in results %}
        <div class="product-box">
            <div class="product-img">
                <img src="{{ row['image'] }}">
            </div>
            <div class="product-details">
                <a class="p-name" href="#">{{ row['name'] }}</a>
                <a class="p-name" href="#">Written by {{ row['author'] }}</a>
                <br>
                <a href="{{ url_for('return_books.return_book', id=row['id']) }}">
                    <button type="button" class="btn btn-primary">Return Book</button></a>
            </div>
        </div>
        {% endfor %}
        {% if membership != "None" %}
                <div style="text-align: center;">
        <a href="{{ url_for('return_books.return_all_together') }}"><button class="btn btn-primary">Return all books</button></a>
            </div>
        {% endif %}
        {% endif %}
        {% if number_results == 0: %}
        <div class="alert-error"><i class="fa fa-times-circle"></i> Error: You do not have any books lended</div>
        {% endif %}
    </div>
    </div>
    </div>
</section>
</div>
{% endblock %}