{% extends 'base.html' %}

{% block content %}
<script crossorigin="anonymous" src="https://kit.fontawesome.com/d00b6a268f.js"></script>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
  <script crossorigin="anonymous"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.bundle.min.js"></script>
<br>
<br>
<h1>User Table | {{ settings['website_config']['name'] }}</h1>
<br>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle mb-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Sort By
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="{{ url_for('user_table.user_table_', filter_by='desc') }}">New Users</a></li>
    <li><a class="dropdown-item" href="{{ url_for('user_table.user_table_', filter_by='aces') }}">Old Users</a></li>
  </ul>
</div>
<input class="form-control mb-4" id="myInput" type="text" placeholder="Search.." style="width:250px;text-align:center;">
<div class="progress ">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 35%" aria-valuenow="{{ users }}" aria-valuemin="1" aria-valuemax="10000">{{ users }} Users ( Including Admins )</div>
  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 35%" aria-valuenow="{{ admins }}" aria-valuemin="1" aria-valuemax="10000">{{ admins }} Admins</div>
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 35%" aria-valuenow="{{ users - admins }}" aria-valuemin="1" aria-valuemax="10000">{{ users - admins }} Users ( Excluding Admins )</div>
</div>
<br>
<table class="table table-hover" id="myTable">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Confirmed E-Mail?</th>
        <th>E-Mail</th>
        <th>Membership</th>
        <th>Joined on</th>
        <th>Role</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    {% for row in results.items %}
    <tr>
        <td><img height="100" src="{{ row.image }}" width="100" style="border-radius:50px"></td>
        <td>{{ row.name }}</td>
        {% if row.confirmed_email: %}
        <td><i class="fas fa-check-circle"></i></td>
        {% endif %}
        {% if not row.confirmed_email: %}
        <td><i class="fas fa-times-circle"></i></td>
        {% endif %}
        <td><a href="mailto:{{ row.email }}">{{ row.email }}</a></td>
        {% if row.membership['membership'] == "Gold": %}
        <td><img class="center" height="100" src="{{ settings['membership_config']['gold']['image'] }}" width="100">
        </td>
        {% endif %}
        {% if row.membership['membership'] == "Silver": %}
        <td><img class="center" height="100" src="{{ settings['membership_config']['silver']['image'] }}" width="100">
        </td>
        {% endif %}
        {% if row.membership['membership'] == "Bronze": %}
        <td><img class="center" height="100" src="{{ settings['membership_config']['bronze']['image'] }}" width="100">
        </td>
        {% endif %}
        {% if row.membership['membership'] == None: %}
        <td>No Membership Taken!</td>
        {% endif %}
        <td>{{ row.join_date }}</td>
        {% if row.admin: %}
        <td>Admin</td>
        {% else: %}
        <td>User</td>
        {% endif %}
        <td>{{ row.address }}</td>
        <td><a href="{{ url_for('user_table.edit_profile', id=row.id) }}"><i class="fas fa-pencil-alt"></i></a>  <a href="{{ url_for('delete_profile.delete_profile_view', id=row.id, admin=True) }}"><i class="fas fa-trash-alt"></i></a>  {% if not row.admin %} <a href="{{ url_for('user_table.make_admin', id=row.id) }}"><i class="fas fa-user-shield"></i></a> {% endif %}   {% if row.admin %} <a href="{{ url_for('user_table.remove_admin', id=row.id) }}"><i class="fas fa-users-slash"></i></a> {% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% for page_num in results.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num: %}
{% if results.page == page_num: %}
{% if page_num != 1: %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('user_table.user_table_', page=page_num - 1) }}"><i class="fas fa-arrow-left"></i></a>
{% endif %}
<a class="btn btn-info mb-4" href="{{ url_for('user_table.user_table_', page=page_num) }}">{{ page_num }}</a>
{% if page_num >= 1 and not page_num == last_page: %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('user_table.user_table_', page=page_num + 1) }}"><i class="fas fa-arrow-right"></i></a>
{% endif %}
{% else: %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('user_table.user_table_', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else: %}
...
{% endif %}
{% endfor %}
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}